@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: #fff;
}
.navbar a{
  font-size: 1rem;
  text-transform: capitalize;
}
.navbar a:hover{
  color: #3498db;
}
@media (max-width: 991px) {
  .navbar a:hover{
  border-bottom: none;
  }
}
#header .brand-name {
  color: goldenrod;
}
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
/* Animation css on home image */
@keyframes up-down {
  0%{
transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@media (max-width: 480px) {
  #header h1{
    font-size: 1.3rem;
  }
}
.icon-plus:hover{
color:blue;
}
.card-body ol li{
  list-style: none;
  font-family: auto;
  font-size: large;
  align-items: center;
  display: flex;
}
.card-body ol li span{
font-size: 15px;
cursor: pointer;
}
.card-body ol li span:hover{
  color:red;
}


